$font-size:40px;
$font-color:red;

:root {
    --font-weight:800;
}
.test {
    font-size: $font-size;
    color: $font-color;
    font-weight: var(--font-weight);
}
div {
    > p {
        height: 100px;
        width: 100px;
        background-color: aqua;
    }
    &:hover p {
        background-color:red;
    
    }
    & ~ p{
        color:red;
    }
}
